@import url(reset.css);



body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #212B36;
	line-height: 1.18;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.wrapper__header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #FFFFFF;
}

.header__logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 65px;
	padding-top: 30px;
	padding-bottom: 30px;

}

.header__menu {
	margin-right: 140px;
}

.menu {
	display: inline-block;
	vertical-align: middle;
}

.menu__item {
	display: inline-block;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}

.menu__item--parent {
	position: relative;
}

.menu__item--parent .menu__link {
	position: relative;
	padding-right: 36px;
}

.menu__item--parent:hover .menu__link {
	background: #F4F7FF;
	border-radius: 5px;
	color: #212B36;
}

.menu__item--parent::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 13px;
	width: 10px;
	height: 6px;
	background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
	margin-top: -2px;
}

.menu__item--parent:hover .sub-menu {
	visibility: visible;
	opacity: 1;
}

.menu__link {
	display: inline-block;
	padding: 8px 17px;
}

.menu__link:hover {
	color: #3056D3;
}

.sub-menu {
	display: inline-block;
	position: absolute;
	top: 102%;
	left: 0;
	width: 180px;
	background-color: #fff;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	color: #637381;
	visibility: hidden;
	opacity: 0;
}

.sub-menu__list {
	max-width: 180px;
	padding: 22px 0;
	position: relative;
}

.sub-menu__item :hover {
	color: #3056D3;
}

.sub-menu__list::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -10px;
	width: 0;
	height: 0;
	border-radius: 3px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #E7E7E7;

}

.sub-menu__item {
	padding: 0 24px;
}

.sub-menu__item:not(:last-child) {
	margin-bottom: 13px;
}

.sub-menu__link {
	color: #637381;
	display: block;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	position: relative;
}

.sub-menu__item--parent {
	display: block;
	position: relative;
}

.sub-menu__item--parent .sub-menu__link::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	width: 10px;
	height: 6px;
	background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
	transform: rotate(-90deg);
	margin-top: -2px;
}

.sub-menu__item--parent:hover .sub-content {
	visibility: visible;
	opacity: 1;
}

.sub-menu__item--parent:hover .sub-content__item {
	color: #637381;
}


.sub-content {
	position: absolute;
	top: 0px;
	left: 100%;
	width: 680px;
	background-color: #FFFFFF;
	border: 0.5px solid #E7E7E7;
	border-radius: 5px;
	color: #637381;
	visibility: hidden;
	opacity: 0;
	padding: 30px;
	margin-left: 2px;

}

.sub-content__column {
	display: inline-block;
	vertical-align: top;
}

.sub-content__column:not(:last-child) {
	margin-right: 80px;
}

.sub-content__title {
	color: #212b36;
	line-height: 1.5;
}

.sub-content__title:not(:last-child) {
	margin-bottom: 20px;
}

.sub-content__item:not(:last-child) {
	margin-bottom: 12px;
}

.sub-content__link {
	font-weight: 500;
	line-height: 1.5;
}

.sub-content__banner {
	width: 220px;
	font-size: 0;
	background: rgba(205, 131, 90, 0.65);
}

.sub-menu__item--parent:hover .banner__discount,
.sub-menu__item--parent:hover .banner__title,
.sub-menu__item--parent:hover .banner__link {
	color: #FFFFFF;
}

.banner {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: rgba(205, 131, 90, 0.65);
}

.banner__img {
	font-size: 16px;
	opacity: 0.4;
	background: rgba(205, 131, 90, 0.65);
	border-radius: 3px;
	max-width: 100%;
	position: relative;
}

.banner__discount {
	position: absolute;
	top: 65px;
	left: 65px;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	color: #FFFFFF;
}

.banner__title {
	position: absolute;
	top: 113px;
	left: 45px;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: #FFFFFF;
}

.banner__link {
	position: absolute;
	top: 158px;
	left: 69px;
	max-width: 83px;
	font-weight: 700;
	font-size: 11px;
	line-height: 1.18;
	color: #FFFFFF;
	background-color: #3056D3;
	border-radius: 3px;
	text-align: center;
	padding: 6px 14px;
}

.actions {
	display: inline-block;
	vertical-align: middle;
}

.actions__item {
	position: relative;
}

.actions__item:not(:last-child) {
	margin-right: 20px;
}

.actions__value {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
	background-color: #3056D3;
	font-size: 11px;
	color: #fff;
	text-align: center;
	margin-top: -4px;
}


.wrapper__page {
	padding-top: 80px;
	padding-bottom: 80px;
	background: url(..//img/Vector\ 17.svg) 100% 100% no-repeat, url(..//img/Vector\ 18.svg) 100% 100% no-repeat;
	background-color: #F4F7FF;
}

.page__content {
	display: inline-block;
}

.content {
	display: inline-block;
	vertical-align: top;
}

.content__price {
	padding-top: 130px;
	font-size: 18px;
	line-height: 1.33;
	color: #3056D3;
	margin-bottom: 15px;
}

.content__title {
	max-width: 470px;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.25;
	color: #212B36;
	margin-bottom: 15px;
}

.content__text {
	max-width: 570px;
	font-weight: 500;
	line-height: 1.5;
	color: #637381;
	margin-bottom: 35px;
}

.content__button {
	display: inline-block;
	padding: 10px 30px;
	background: #3056D3;
	border-radius: 30px;
	color: #fff;
}

.content__button:hover {
	background-color: #212b36;
}


.page__speaker {
	display: inline-block;
	vertical-align: top;
}

.speaker {
	display: inline-block;
	vertical-align: top;
}

.speaker__img {
	max-width: 100%;
	padding-top: 80px;
	padding-left: 180px;
}