@import url(reset.css);
@import url(common.css);
@import url(stylesheet.css);


/* ----------------- */


body {
	font-family: 'Gilroy', sans-serif;
	font-size: 16px;
	line-height: 1.68;
	font-weight: 400;
	color: #161616;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ----------------- */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	font-weight: 500;
	color: #352C2C;
	line-height: 1.25;
}

.header__container {
	display: flex;
	align-items: center;
	min-height: 100px;
}

.header__logo {
	flex: 0 1 130px;
	align-self: center;
	margin-right: 68px;
}


.header__menu {
	flex: 1 1 auto;
	margin-right: 5px;
}

.menu {}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 48.5px;
}

.menu__item {}

.menu__link {
	display: block;
	position: relative;
}

.menu__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #D3A265;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.menu__link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.header__info {
	display: flex;
	gap: 45px;
}

.header__number {}

.header__select-block {
	appearance: none;
	cursor: pointer;
	position: relative;
}

.header__select-block::after {
	content: "";
	position: absolute;
	top: 40%;
	right: 0;
	background: url("../img/icon.svg") no-repeat;
	width: 12px;
	height: 6px;
}

.header__select {
	appearance: none;
	cursor: pointer;
	width: 100%;
	color: #3F3F3F;
	font-size: 16px;
	font-weight: 500;
	padding-right: 10px;
	margin-right: 10px;
}

.header__select:focus-visible {
	outline: 1px solid rgba(196, 196, 196, 0.1);
}

/* ----------------- */


/* ----------------- */
/* ----------------- */
/* ----------------- */


.page {}


@media (min-width: 767px) {
	.top-section {
		display: flex;
		justify-content: space-between;
	}
}

.top-section__content {
	flex: 0 0 100%;
	display: flex;
}

.top-section__container {
	display: flex;
	align-items: center;
	background-color: #b4aeae;
}

.top-section__body {}

@media (min-width: 767px) {
	.top-section__body {
		width: 48.717949%;
		/* 570/1170 */
		/* 570/1170 */
	}
}

.top-section__title {
	font-family: 'BN Chester', sans-serif;
	font-size: 66px;
	font-weight: 400;
	line-height: 1;
	color: #3D3737;
}

.top-section__title:not(:last-child) {
	margin-bottom: 32px;
}

.top-section__text {}

.top-section__text:not(:last-child) {
	margin-bottom: 32px;
}

.top-section__button {}

.top-section__image img {
	max-width: 100%;
}

@media (min-width: 767px) {
	.top-section__image {
		flex: 0 0 48.9999%;
		/* 570/1170 */
		/* 570/1170 */
		transform: translate(-100%, 0px);
		padding-bottom: 52.1%;
		position: relative;
	}

	.top-section__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}