/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url(reset.css);
@import url(common.css);

body {
	font-weight: 400;
	color: #3F3F3F;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

.page {
	font-size: 16px;
}

.page__container {
	max-width: 635px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	padding-top: 100px;
}

.page__top-content {
	font-family: "Roboto", sans-serif;
}

.page__top-content:not(:last-child) {
	margin-bottom: 80px;
}


.shipping,
.address,
.methods {
	font-size: 16px;
	line-height: 1.25;
	color: #3F3F3F;
}

.shipping__title:not(:last-child) {
	margin-bottom: 34px;
}

.shipping__form:not(:last-child) {
	margin-bottom: 36px;
}

.shipping__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.shipping__item:not(:last-child) {
	margin-bottom: 24px;
}

.shipping__label {
	flex: 0 1 25.409836%;
	/* 155/610 */
	cursor: pointer;
}

.shipping__input {
	flex: 0 1 73.770492%;
	/* 450/610 */
	max-width: 450px;
	background-color: #FFFFFF;
	border: 1px solid #C4C4C4;
	padding: 11px 16px;
	cursor: pointer;
}

.shipping__input:focus-visible {
	outline: 2px solid #C4C4C4;
}

.shipping__subtitle {
	font-size: 14px;
	line-height: 1.42;
	color: #828282;
}

.shipping__subtitle:not(:last-child) {
	margin-bottom: 14px;
}


.shipping__button:hover {
	background-color: #fff;
	color: #000;
	outline: 1px solid #C4C4C4;
}

.shipping__forgot-pass {
	display: inline-block;
	position: relative;
	font-size: 14px;
	line-height: 1.42;
	color: #0F6DB1;
	transition: all 0.3s;
}

.shipping__forgot-pass::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	transform: scale(0);
	background-color: #0F6DB1;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.shipping__forgot-pass:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}


/* ----------------- */
/* ----------------- */
/* ----------------- */


.shipping__address:not(:last-child) {
	margin-bottom: 80px;
}

.address__items {
	display: flex;
}

.address__items:not(:last-child) {
	margin-bottom: 46px;
}

.address__item--underline {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-top: 1px solid #c4c4c4;
	padding-top: 39px;
}

.address__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.address__item:not(:last-child) {
	margin-bottom: 24px;
}

.address__label {
	flex: 0 1 25.409836%;
	/* 155/610 */
	cursor: pointer;
}

.address__input {
	flex: 0 1 73.770492%;
	/* 450/610 */
	max-width: 450px;
	background-color: #FFFFFF;
	border: 1px solid #C4C4C4;
	padding: 11px 16px;
	cursor: pointer;
}

.address__item--margin:not(:last-child) {
	margin-bottom: 13px;
}

.address__select-block {
	flex: 0 1 73.770492%;
	/* 450/610 */
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #C4C4C4;
	padding: 0 16px;
	cursor: pointer;
	appearance: none;
}

.address__select {
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	line-height: 1.25;
	color: #3F3F3F;
	padding: 11px 0;
	appearance: none;
}

.address__select-block::after {
	content: "";
	position: absolute;
	top: 18px;
	right: 16px;
	background: url("../img/icons/arrow.svg") no-repeat;
	width: 14px;
	height: 9px;
	cursor: pointer;
	pointer-events: none;
}

.address__select:focus-visible {
	outline: 1px solid rgba(196, 196, 196, 0.1);
	border-radius: 2px;
}


/* ----------------- */
/* ----------------- */
/* ----------------- */


.address__methods:not(:last-child) {
	margin-bottom: 80px;
}

.methods__title:not(:last-child) {
	margin-bottom: 40px;
}

.methods__groups {
	border-top: 1px solid #C4C4C4;
	display: flex;
	flex-wrap: wrap;
}

.methods__groups:not(:last-child) {
	margin-bottom: 24px;
}

.methods__group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 1 443px;
	padding: 12px 0;
}

.methods__price {
	position: relative;
	flex: 0 1 70px;
	cursor: pointer;
}

.methods__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.methods__label {
	display: flex;
	align-items: center;
	column-gap: 14px;
	cursor: pointer;
	color: #828282;
}

.methods__label::before {
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid #828282;
	background-color: #FFFFFF;
	border-radius: 50px;
}

.methods__input:checked+.methods__label::before {
	border: 3px solid #000000;
	background-color: #FFFFFF;
}

.methods__input:checked+.methods__label {
	color: #000000;
}

.methods__tags {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 63px;
	flex: 0 1 192px;
	color: #3F3F3F;
}


.methods__tag {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42;
	width: 70px;
}

.methods__tag:not(:last-child) {
	margin-right: 65px;
}

.methods__group--underline {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 1 443px;
	padding: 12px 0;
	cursor: pointer;
	border-top: 1px solid #C4C4C4;
}

.methods__buttons {
	display: flex;
	justify-content: space-between;
}

.methods__button {}

.shipping__button--color {
	font-family: "Oswald";
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 1.48;
	color: #828282;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.shipping__button--color:hover {
	color: #000;
}


/* ----------------- */
/* ----------------- */
/* ----------------- */


.footer {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #637381;
}

.footer__container {
	max-width: 730px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	padding-top: 100px;
}

.footer__content {
	padding-bottom: 100px;
}

.footer__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25;
	color: #212B36;
	margin-bottom: 30px;
}

.footer__title:not(:last-child) {
	margin-bottom: 30px;
}

.footer__form {}

.footer__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 28px;
	row-gap: 30px;
	margin-bottom: 30px;
}

.footer__item {
	flex: 0 1 calc(50% - 14px);
}

.footer__input {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	padding: 15px 25px;
	cursor: pointer;
}

.footer__select-block {
	flex: 0 1 calc(50% - 14px);
	position: relative;
	cursor: pointer;
	appearance: none;
}

.footer__select {
	width: 100%;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #637381;
	cursor: pointer;
	appearance: none;
	padding: 15px 25px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
}

.footer__input:focus-visible,
.footer__select:focus-visible {
	outline: 1px solid #3056D3;
	border-radius: 5px;
}

.footer__select-block::after {
	content: "";
	position: absolute;
	top: 23px;
	right: 23px;
	background: url("../img/icons/arrow.svg") no-repeat;
	width: 16px;
	height: 8px;
}

.footer__text-area {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #637381;
	margin-bottom: 35px;
}

.footer__text-area textarea:focus-visible {
	outline: 1px solid #3056D3;
	border-radius: 7px;
}

.footer__text-area textarea {
	resize: vertical;
	width: 100%;
	min-height: 180px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	padding: 15px 25px;
}


.footer__checkbox {
	margin-bottom: 55px;
}

.checkbox {}

.checkbox__item {
	position: relative;
}

.checkbox__item:not(:last-child) {
	margin-bottom: 25px;
}

.checkbox__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.checkbox__label {
	display: flex;
	align-items: flex-start;
	gap: 15px;
	cursor: pointer;
}

.checkbox__input:checked+.checkbox__label::before {
	background: url("../img/icons/check.svg") center no-repeat;
}

.checkbox__label::before {
	content: "";
	flex: 0 1 22px;
	height: 22px;
	border: 0.7px solid #E7E7E7;
	border-radius: 4px;
}

.footer__discount-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3;
	color: #212B36;
	margin-bottom: 25px;
}

.footer__discount-title:not(:last-child) {
	margin-bottom: 25px;
}

.footer__discount-item {
	margin-bottom: 100px;
}

.item-discount {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.item-discount__input {
	flex: 0 1 46.428571%;
	/* 325/700 */
	color: #637381;
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	padding: 12px 22px;
}

.item-discount__input:focus-visible {
	outline: 1px solid #3056D3;
	border-radius: 5px;
}

.item-discount__button {
	flex: 0 1 19.285714%;
	/* 135/700 */
	font-weight: 600;
	color: #FFFFFF;
	background-color: #212B36;
	text-align: center;
	padding: 12px 22px;
	transition: all 0.3s ease;
}

.item-discount__button:hover {
	outline: 1px solid #212B36;
	color: #212B36;
	background-color: #FFFFFF;
}

.footer__button {
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	padding: 12px 0;
	background-color: #3056D3;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.footer__button:hover {
	outline: 1px solid #3056D3;
	background-color: #FFFFFF;
	color: #3056D3;
}